.perfil{
    margin-left: 80px;
    
}
.margem {
    margin-left: 80px;
}
.progress-html{
    width: 40%;
    height: 30px;
    padding: 5px;
    background-color: lightblue;
    display: flex;
}
.progress-html::before{
    content: "";
    width: 60%;
    background-color: rgb(134, 190, 241);
}
.progress-css{
    width: 40%;
    height: 30px;
    padding: 5px;
    background-color: lightblue;
    display: flex;
}
.progress-css::before{
    content: "";
    width: 55%;
    background-color: rgb(134, 190, 241);
}
.progress-javascript{
    width: 40%;
    height: 30px;
    padding: 5px;
    background-color: lightblue;
    display: flex;
}
.progress-javascript::before{
    content: "";
    width: 0%;
    background-color: rgb(75, 125, 172);
}
.banner {
    background-image: url("IMG/45-degree-fabric--light--1920x1080.png");
}
img{
    width: 100%;
    height: 230px;
}


